@media only screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        background-color: mediumseagreen;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        background-color: mediumseagreen;
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
body{
    display: flex;
    justify-content: center;
}

.container{
    background-color: mediumseagreen;
    width: 45%;
}
}
.scorenumbers {
    display: flex;
}

.playerscore{
    text-align: center;
    font-size: 30px;
    width: 40%;
}

.scorenumbers{
    justify-content: space-between;
    align-items: center;
}

[class*="playernumberscore-"] button {
    background-color: slateblue;
    justify-content: center;
    color: yellow;
    font-weight: bold;
    padding: 40px 5px;
    align-items: center;
    width: 100%;
}

[class*="playernumberscore-"] span{
    font-size: 40px;
}

.material-icons{
    font-size: 36px;
}

.tools{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    
}

.menubutton button{
    display: flex;
    align-items: center;
    margin: 10px 5px;
    padding: 5px;
    background-color: grey;
}
